@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: #101828;
    --slate: #475467;
    --gray-100: #6C717B;
    --gray-50: #DADDE1;
    --gray-25: #F2F4F7;
    --gray-15: #F7F7F7;
    --white: #ffffff;
    --red: #D84343;
    --orange: #E44848;
    --yellow: #FFC531;
    --white-text: #F7F7F7;

    --max-width: 1312px;
    --header-height: 72px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 320px;
    min-height: 100vh;
}

header {
    background-color: var(--gray-15);
}

header .wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: var(--max-width);
    height: var(--header-height);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
