.container {
    display: flex;
    gap: 64px;
    margin: 0 auto;
    padding: 48px 0;
    max-width: var(--max-width);
}

.sidebar {}

.sidebar h3,
.sidebar button {
    margin-top: 30px;
}

.main {
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
